body {
  background: url(../images/square_bg.png) 0 0 repeat;
  font-family: 'Open Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {  
  font-family: Raleway, 'Open Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.main {
  background: url(../images/screen-account.png) center 230px no-repeat;
  height: 600px;
}

.main h1 {
  margin-bottom: 35px;
}

.main h1.title {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 400;
}

.section {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 60px 0;
}

.section p {
  font-size: 18px;
}

.section h2 {
  color: #fff;
  margin-bottom: 40px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.1)
}

.overview {
  background: url(../images/batthern_blue.png) 0 0 repeat;
  color: #fff;
}

.features {
  background: url(../images/fabric_of_squares_gray.png) 0 0 repeat;
  color: #333;
}

.workflow {
  background: url(../images/tactile_noise.png) 0 0 repeat;
  color: #ccc;
  height: 600px;
  min-height: 600px;
}

.workflow h2 {
  color: #eee;
}
